In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive

drive.mount('/content/drive')
root_dir = "/content/drive/My Drive/"
base_dir = root_dir + 'Tesi/downstream/'

embeddings_dir = base_dir + "embeddings/"
results_dir = base_dir + "results/"

## LOAD RESULTS

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'vanilla_result.csv', usecols=range(7,17))

In [ ]:
topicrank_result = pd.read_csv(results_dir + 'topicrank_result.csv', usecols=range(7,17))

In [ ]:
rake_result = pd.read_csv(results_dir + 'rake_result.csv', usecols=range(7,17))

In [ ]:
gensim_result = pd.read_csv(results_dir + 'gensim_result.csv', usecols=range(7,17))

In [ ]:
PoSEntities_result = pd.read_csv(results_dir + 'PoS-Ent_result.csv', usecols=range(7,17))

In [ ]:
vanilla_result

In [ ]:
PoSEntities_result

In [ ]:
gensim_result

In [ ]:
rake_result

In [ ]:
topicrank_result

In [ ]:
PoSEntities_result_df = ((PoSEntities_result - vanilla_result) / vanilla_result) * 100

In [ ]:
PoSEntities_result_df = PoSEntities_result_df.round(3)

In [ ]:
rake_result_df = ((rake_result - vanilla_result) / vanilla_result) * 100

In [ ]:
rake_result_df = rake_result_df.round(3)

In [ ]:
gensim_result_df = ((gensim_result - vanilla_result) / vanilla_result) * 100

In [ ]:
gensim_result_df = gensim_result_df.round(3)

In [ ]:
topicrank_result_df = ((topicrank_result - vanilla_result) / vanilla_result) * 100

In [ ]:
topicrank_result_df = topicrank_result_df.round(3)

In [ ]:
PoSEntities_result_df

In [ ]:
gensim_result_df

In [ ]:
rake_result_df

In [ ]:
topicrank_result_df

## LOAD RESULTS WITH MODIFIED DATASETS

### SIMILARITY

GENSIM

In [ ]:
gensim_equal_result = pd.read_csv(results_dir + 'modified/similarity/gensim_equal_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_gensim_equal_result.csv', usecols=range(7,15))

In [ ]:
gensim_equal_result_df = ((gensim_equal_result - vanilla_result) / vanilla_result) * 100 
gensim_equal_result_df = gensim_equal_result_df.round(3)

In [ ]:
gensim_equal_result_df

     MEN  WS353  WS353R  WS353S  SimLex999     RW    RG65  MTurk
0 -3.403 -0.274  -0.185 -14.716      2.423  0.452 -19.417  5.933

In [ ]:
gensim_one_result = pd.read_csv(results_dir + 'modified/similarity/gensim_one_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_gensim_one_result.csv', usecols=range(7,15))

In [ ]:
gensim_one_result_df = ((gensim_one_result - vanilla_result) / vanilla_result) * 100 
gensim_one_result_df = gensim_one_result_df.round(3)

In [ ]:
gensim_one_result_df

     MEN  WS353  WS353R  WS353S  SimLex999     RW   RG65  MTurk
0  0.033 -1.136  -8.883   4.129      2.809  5.894 -0.924  -1.21

In [ ]:
gensim_two_result = pd.read_csv(results_dir + 'modified/similarity/gensim_two_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_gensim_two_result.csv', usecols=range(7,15))

In [ ]:
gensim_two_result_df = ((gensim_two_result - vanilla_result) / vanilla_result) * 100 
gensim_two_result_df = gensim_two_result_df.round(3)

In [ ]:
gensim_two_result_df

     MEN  WS353  WS353R  WS353S  SimLex999      RW   RG65  MTurk
0  0.321  1.328   2.726   0.924      2.282 -14.353 -8.333 -1.318

PoS-Entities

In [ ]:
PoSEntities_equal_result = pd.read_csv(results_dir + 'modified/similarity/PoS-Ent_equal_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_pe_equal_result.csv', usecols=range(7,15))

In [ ]:
PoSEntities_equal_result_df = ((PoSEntities_equal_result - vanilla_result) / vanilla_result) * 100 
PoSEntities_equal_result_df = PoSEntities_equal_result_df.round(3)

In [ ]:
PoSEntities_equal_result_df

     MEN   WS353  WS353R  WS353S  SimLex999     RW    RG65  MTurk
0  4.171  20.109   48.25  11.735     51.887  0.259 -15.364 -0.276

In [ ]:
PoSEntities_one_result = pd.read_csv(results_dir + 'modified/similarity/PoS-Ent_one_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_pe_one_result.csv', usecols=range(7,15))

In [ ]:
PoSEntities_one_result_df = ((PoSEntities_one_result - vanilla_result) / vanilla_result) * 100 
PoSEntities_one_result_df = PoSEntities_one_result_df.round(3)

In [ ]:
PoSEntities_one_result_df

    MEN  WS353  WS353R  WS353S  SimLex999     RW   RG65  MTurk
0 -0.04 -1.021  -2.439   0.471     -0.077  11.35 -5.467 -4.935

In [ ]:
PoSEntities_two_result = pd.read_csv(results_dir + 'modified/similarity/PoS-Ent_two_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_pe_two_result.csv', usecols=range(7,15))

In [ ]:
PoSEntities_two_result_df = ((PoSEntities_two_result - vanilla_result) / vanilla_result) * 100 
PoSEntities_two_result_df = PoSEntities_two_result_df.round(3)

In [ ]:
PoSEntities_two_result_df

     MEN  WS353  WS353R  WS353S  SimLex999     RW    RG65  MTurk
0  1.382  3.195   3.055   1.558      2.844  5.615 -25.806 -1.011

RAKE

In [ ]:
rake_equal_result = pd.read_csv(results_dir + 'modified/similarity/rake_equal_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_rake_equal_result.csv', usecols=range(7,15))

In [ ]:
rake_equal_result_df = ((rake_equal_result - vanilla_result) / vanilla_result) * 100 
rake_equal_result_df = rake_equal_result_df.round(3)

In [ ]:
rake_equal_result_df

    MEN  WS353  WS353R  WS353S  SimLex999     RW    RG65  MTurk
0  3.26   3.35  28.528  -7.988     14.103 -8.415 -11.076 -1.293

In [ ]:
rake_one_result = pd.read_csv(results_dir + 'modified/similarity/rake_one_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_rake_one_result.csv', usecols=range(7,15))

In [ ]:
rake_one_result_df = ((rake_one_result - vanilla_result) / vanilla_result) * 100 
rake_one_result_df = rake_one_result_df.round(3)

In [ ]:
rake_one_result_df

    MEN  WS353  WS353R  WS353S  SimLex999     RW   RG65  MTurk
0  0.93  2.749  -1.581   9.962      6.317  6.582 -0.715  2.683

In [ ]:
rake_two_result = pd.read_csv(results_dir + 'modified/similarity/rake_two_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_rake_two_result.csv', usecols=range(7,15))

In [ ]:
rake_two_result_df = ((rake_two_result - vanilla_result) / vanilla_result) * 100 
rake_two_result_df = rake_two_result_df.round(3)

In [ ]:
rake_two_result_df

     MEN  WS353  WS353R  WS353S  SimLex999      RW  RG65  MTurk
0  0.699  8.065  13.767   2.622      3.887  23.589 -25.0 -4.178

TOPICRANK

In [ ]:
tr_equal_result = pd.read_csv(results_dir + 'modified/similarity/topicrank_equal_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_tr_equal_result.csv', usecols=range(7,15))

In [ ]:
tr_equal_result_df = ((tr_equal_result - vanilla_result) / vanilla_result) * 100 
tr_equal_result_df = tr_equal_result_df.round(3)

In [ ]:
tr_equal_result_df

     MEN   WS353   WS353R  WS353S  SimLex999     RW    RG65  MTurk
0 -0.055  12.793  407.792   -1.67     57.533 -2.625 -32.198 -2.089

In [ ]:
tr_one_result = pd.read_csv(results_dir + 'modified/similarity/topicrank_one_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_tr_one_result.csv', usecols=range(7,15))

In [ ]:
tr_one_result_df = ((tr_one_result - vanilla_result) / vanilla_result) * 100 
tr_one_result_df = tr_one_result_df.round(3)

In [ ]:
tr_one_result_df

     MEN  WS353  WS353R  WS353S  SimLex999     RW   RG65  MTurk
0  0.779 -8.826  -9.779  -5.484      4.474  3.634 -5.906  4.306

In [ ]:
tr_two_result = pd.read_csv(results_dir + 'modified/similarity/topicrank_two_result.csv', usecols=range(7,15))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/similarity/vanilla_tr_two_result.csv', usecols=range(7,15))

In [ ]:
tr_two_result_df = ((tr_two_result - vanilla_result) / vanilla_result) * 100 
tr_two_result_df = tr_two_result_df.round(3)

In [ ]:
tr_two_result_df

    MEN  WS353  WS353R  WS353S  SimLex999     RW  RG65  MTurk
0  0.94  8.849  12.904   1.307     -1.123 -8.635  90.0  0.922

### ANALOGY

GENSIM

In [ ]:
gensim_equal_result = pd.read_csv(results_dir + 'modified/analogy/gensim_equal_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_gensim_equal_result.csv', usecols=range(15,17))

In [ ]:
gensim_equal_result_df = ((gensim_equal_result - vanilla_result) / vanilla_result) * 100 
gensim_equal_result_df = gensim_equal_result_df.round(3)

In [ ]:
gensim_equal_result_df

   Google    MSR
0  -11.29 -0.386

In [ ]:
gensim_one_result = pd.read_csv(results_dir + 'modified/analogy/gensim_one_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_gensim_one_result.csv', usecols=range(15,17))

In [ ]:
gensim_one_result_df = ((gensim_one_result - vanilla_result) / vanilla_result) * 100 
gensim_one_result_df = gensim_one_result_df.round(3)

In [ ]:
gensim_one_result_df

   Google    MSR
0  -6.325 -2.049

In [ ]:
gensim_all_result = pd.read_csv(results_dir + 'modified/analogy/gensim_all_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_gensim_all_result.csv', usecols=range(15,17))

In [ ]:
gensim_all_result_df = ((gensim_all_result - vanilla_result) / vanilla_result) * 100 
gensim_all_result_df = gensim_all_result_df.round(3)

In [ ]:
gensim_all_result_df

   Google     MSR
0  -5.263 -11.852

PoS-Entities

In [ ]:
PoSEntities_equal_result = pd.read_csv(results_dir + 'modified/analogy/PoS-Ent_equal_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_PoS-Ent_equal_result.csv', usecols=range(15,17))

In [ ]:
PoSEntities_equal_result_df = ((PoSEntities_equal_result - vanilla_result) / vanilla_result) * 100 
PoSEntities_equal_result_df = PoSEntities_equal_result_df.round(3)

In [ ]:
PoSEntities_equal_result_df

   Google    MSR
0  -2.671  1.799

In [ ]:
PoSEntities_one_result = pd.read_csv(results_dir + 'modified/analogy/PoS-Ent_one_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_PoS-Ent_one_result.csv', usecols=range(15,17))

In [ ]:
PoSEntities_one_result_df = ((PoSEntities_one_result - vanilla_result) / vanilla_result) * 100 
PoSEntities_one_result_df = PoSEntities_one_result_df.round(3)

In [ ]:
PoSEntities_one_result_df

   Google    MSR
0  -2.146 -2.441

In [ ]:
PoSEntities_all_result = pd.read_csv(results_dir + 'modified/analogy/PoS-Ent_all_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_PoS-Ent_all_result.csv', usecols=range(15,17))

In [ ]:
PoSEntities_all_result_df = ((PoSEntities_all_result - vanilla_result) / vanilla_result) * 100 
PoSEntities_all_result_df = PoSEntities_all_result_df.round(3)

In [ ]:
PoSEntities_all_result_df

   Google     MSR
0 -12.273 -13.514

RAKE

In [ ]:
rake_equal_result = pd.read_csv(results_dir + 'modified/analogy/rake_equal_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_rake_equal_result.csv', usecols=range(15,17))

In [ ]:
rake_equal_result_df = ((rake_equal_result - vanilla_result) / vanilla_result) * 100 
rake_equal_result_df = rake_equal_result_df.round(3)

In [ ]:
rake_equal_result_df

   Google     MSR
0 -12.195 -11.765

In [ ]:
rake_one_result = pd.read_csv(results_dir + 'modified/analogy/rake_one_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_rake_one_result.csv', usecols=range(15,17))

In [ ]:
rake_one_result_df = ((rake_one_result - vanilla_result) / vanilla_result) * 100 
rake_one_result_df = rake_one_result_df.round(3)

In [ ]:
rake_one_result_df

   Google    MSR
0 -10.401 -9.646

In [ ]:
rake_all_result = pd.read_csv(results_dir + 'modified/analogy/rake_all_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_rake_all_result.csv', usecols=range(15,17))

In [ ]:
rake_all_result_df = ((rake_all_result - vanilla_result) / vanilla_result) * 100 
rake_all_result_df = rake_all_result_df.round(3)

In [ ]:
rake_all_result_df

   Google    MSR
0  -9.036 -6.025

TOPICRANK

In [ ]:
tr_equal_result = pd.read_csv(results_dir + 'modified/analogy/topicrank_equal_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_topicrank_equal_result.csv', usecols=range(15,17))

In [ ]:
tr_equal_result_df = ((tr_equal_result - vanilla_result) / vanilla_result) * 100 
tr_equal_result_df = tr_equal_result_df.round(3)

In [ ]:
tr_equal_result_df

   Google    MSR
0  -4.984  0.511

In [ ]:
tr_one_result = pd.read_csv(results_dir + 'modified/analogy/topicrank_one_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_topicrank_one_result.csv', usecols=range(15,17))

In [ ]:
tr_one_result_df = ((tr_one_result - vanilla_result) / vanilla_result) * 100 
tr_one_result_df = tr_one_result_df.round(3)

In [ ]:
tr_one_result_df

   Google   MSR
0  -7.375 -4.99

In [ ]:
tr_all_result = pd.read_csv(results_dir + 'modified/analogy/topicrank_all_result.csv', usecols=range(15,17))

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'modified/analogy/vanilla_topicrank_all_result.csv', usecols=range(15,17))

In [ ]:
tr_all_result_df = ((tr_all_result - vanilla_result) / vanilla_result) * 100 
tr_all_result_df = tr_all_result_df.round(3)

In [ ]:
tr_all_result_df

   Google    MSR
0 -12.393 -17.75

## LOAD RESULTS WITH EXTENDED CORPORA

In [ ]:
vanilla_result = pd.read_csv(results_dir + 'vanilla_result.csv', usecols=range(7,17))

In [ ]:
PoSEntities_extended_result = pd.read_csv(results_dir + 'PoS-Ent_extended_result.csv', usecols=range(7,17))

In [ ]:
gensim_extended_result = pd.read_csv(results_dir + 'gensim_extended_result.csv', usecols=range(7,17))

In [ ]:
rake_extended_result = pd.read_csv(results_dir + 'rake_extended_result.csv', usecols=range(7,17))

In [ ]:
tr_extended_result = pd.read_csv(results_dir + 'topicrank_extended_result.csv', usecols=range(7,17))

In [ ]:
vanilla_result

In [ ]:
PoSEntities_extended_result

In [ ]:
gensim_extended_result

In [ ]:
rake_extended_result

In [ ]:
tr_extended_result

In [ ]:
PoSEntities_extended_result_df = ((PoSEntities_extended_result - vanilla_result) / vanilla_result) * 100

In [ ]:
PoSEntities_extended_result_df = PoSEntities_extended_result_df.round(3)

In [ ]:
gensim_extended_result_df = ((gensim_extended_result - vanilla_result) / vanilla_result) * 100

In [ ]:
gensim_extended_result_df = gensim_extended_result_df.round(3)

In [ ]:
rake_extended_result_df = ((rake_extended_result - vanilla_result) / vanilla_result) * 100

In [ ]:
rake_extended_result_df = rake_extended_result_df.round(3)

In [ ]:
tr_extended_result_df = ((tr_extended_result - vanilla_result) / vanilla_result) * 100

In [ ]:
tr_extended_result_df = tr_extended_result_df.round(3)

In [ ]:
PoSEntities_extended_result_df

In [ ]:
PoSEntities_result_df

In [ ]:
gensim_extended_result_df

In [ ]:
gensim_result_df

In [ ]:
rake_extended_result_df

In [ ]:
rake_result_df

In [ ]:
tr_extended_result_df

In [ ]:
topicrank_result_df